body {
	&.page-template-default {
		&.page {
			.single-page {
				
				&__wrapper {
					padding: rem(32px);
					min-height: 40vh;
					@include mq('md') {
						padding: rem(52px) 0;
						display: flex;
						flex-wrap: wrap;
					}
				}

				&__content {
					padding: 0 rem(20px);
					@include mq('md') {
						text-align: justify;
						width: 50%;
						padding: 0 rem(40px);
					}

					figcaption {
						a {
							@include yellowBtn(10px, 16px);
							padding: rem(10px) rem(20px); 
							margin-top: rem(12px);
						}
					}

					.icons-inline {
						padding-left: 0;
						li {
							display: block;
							margin-bottom: rem(20px);
							figure {
								display: inline-block;
								vertical-align: middle;
								padding: rem(5px);
								background-color: $br-blue;
								margin-right: rem(22px); 
							}
							strong {
								display: inline-block;
								vertical-align: middle;
								@include font(20px);
							}
						}						
					}
				}

				&__image {
					min-height: rem(220px);
					position: relative;
					@include mq('md') {
						width: 50%;
					}
					figure {
						@include bgcover;
						@include coverAbsolute(1);
					}
				}
			}
		}
	}

	&.single {
		article {
			section {
				&.single-content {
					text-align: center;
					@include font(18px);
				}
			}			
		}
	}
}