.services-page {
	.services {
		&__row {
			display: block;
			@include mq('sm') {
				display: flex;
			}

			&:nth-child(odd) {
				@include mq('sm') {
					flex-direction: row-reverse;
				}
			}

			&-thumbnail {
				@include bgcover();
				min-height: rem(250px);
				@include mq('sm') {					
					width: 50%;
					min-height: rem(410px);
				}
				figure {
					@include bgcover();
					height: 100%;
					@include mq('sm') {	
						@include bgparallax;
						background-size: 100% auto;
					}
				}
			}

			&--caption {
				background-color: $br-blue;
				color: $white;
				padding: rem(30px);
				text-align: center;
				@include mq('sm') {
					padding: rem(50px) rem(65px) 0;
					width: 50%;
					text-align: justify;
				}

				header {
					text-align: left;
					img {
						margin: 0 auto rem(30px);
						display: inline-block;
						vertical-align: bottom;
						max-width: rem(160px);
						height: auto;
					}

					h3 {
						@include font(20px);
						position: relative;
						padding-bottom: rem(22px);
						display: inline-block;
						vertical-align: bottom;
						width: 77%;
						@include mq('sm') {
							@include font(30px);
						}
						@include afterTitle(rem(120px), $blue);
					}
				}

				&-actions {
					margin: rem(50px) 0 0;
					text-align: right;
				}

				a {
					@include yellowBtn(10px, 16px);
					padding: rem(10px) rem(20px); 
				}
			}
		}
	}
}