.hero {
	&-slider {
		
		// Slide controls
		.slick-dots {
			bottom: rem(16px);
			li {
				display: inline-block;
				vertical-align: middle;
				margin: rem(7px);
				width: rem(14px);
				height: rem(14px);
				border-radius: 100%;
				background-color: rgba($white,0.5);
				transition: all 0.34s;
				&.slick-active {
					width: rem(15px);
					height: rem(15px);
					background-color: $blue;
				}
			}
		}

		// Slick arrows
		.slick-arrow {
		        width: rem(28px);
		        height: rem(40px);
		        z-index: 2;
		        &.slick-prev {
		                left: rem(20px);
		                @include iconBg('../images/icons/chevron-left.png');
		        }
		        &.slick-next {
		                right: rem(20px);
		                @include iconBg('../images/icons/chevron-right.png');
		        }
		}


		// Slide items
		&__row {
			@include bgcover;
			min-height: 80vh;
			position: relative;
			background-position: top center;
			&::after {
				content: "";
				@include coverAbsolute(1);
				background-color: rgba($black, 0.25);
			}
		}

		&__caption {
			@include center('both');
			z-index: 2;
			text-align: center;
			h3 {
				color: $white;
				text-transform: uppercase;
				@include font(20px);
				@include mq('md') {
					@include font(50px);
				}
			}
			a {
				@include yellowBtn;
				padding: rem(10px) rem(20px); 
				margin-top: rem(100px);
			}
		}

		&.banner {
			@include bgparallax;
			min-height: 40vh;
			position: relative;
			h2 {
			color: $white;
			text-transform: uppercase;
			@include font(40px);
				@include mq('md') {
					@include font(80px);
				}
			}
		}
	}
}