
@font-face {
    font-family: 'Sinkin Sans 800';
    src: url('../fonts/Sinkin/SinkinSans-800Black.woff2') format('woff2'),
        url('../fonts/Sinkin/SinkinSans-800Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesque Lt';
    src: url('../fonts/Galano/GalanoGrotesque-Light.woff2') format('woff2'),
        url('../fonts/Galano/GalanoGrotesque-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesque Md';
    src: url('../fonts/Galano/GalanoGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/Galano/GalanoGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesque Hv';
    src: url('../fonts/Galano/GalanoGrotesque-Heavy.woff2') format('woff2'),
        url('../fonts/Galano/GalanoGrotesque-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesqueAlt Lt';
    src: url('../fonts/Galano/GalanoGrotesqueAlt-Light.woff2') format('woff2'),
        url('../fonts/Galano/GalanoGrotesqueAlt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Alegreya Sans Lt';
    src: url('../fonts/Alegreya/AlegreyaSans-Light.woff2') format('woff2'),
        url('../fonts/Alegreya/AlegreyaSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC Bd';
    src: url('../fonts/Alegreya/AlegreyaSansSC-Bold.woff2') format('woff2'),
        url('../fonts/Alegreya/AlegreyaSansSC-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC Lt';
    src: url('../fonts/Alegreya/AlegreyaSansSC-Light.woff2') format('woff2'),
        url('../fonts/Alegreya/AlegreyaSansSC-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans Bd';
    src: url('../fonts/Alegreya/AlegreyaSans-Bold.woff2') format('woff2'),
        url('../fonts/Alegreya/AlegreyaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC Ext Bd';
    src: url('../fonts/Alegreya/AlegreyaSansSC-ExtraBold.woff2') format('woff2'),
        url('../fonts/Alegreya/AlegreyaSansSC-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url('../fonts/Galano/GalanoGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/Galano/GalanoGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans SC';
    src: url('../fonts/Alegreya/AlegreyaSansSC-Regular.woff2') format('woff2'),
        url('../fonts/Alegreya/AlegreyaSansSC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/Acumin/AcuminPro-Light.woff2') format('woff2'),
        url('../fonts/Acumin/AcuminPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}