.navbar {
	position: relative;
	margin: 0 0;
	padding: 0 0;
	border: none;
	@include mq('sm') {			
		text-align: left;
	}

	// Scrolled menu styles
	&.scroll_menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	// Layout fix
	.row-header {
		@include mq('sm') {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}


	.navbar-header {
		@include mq('sm') {
			display: inline-flex !important;
			vertical-align: middle;
			float: none;
		}
		.navbar-brand {
			@include iconBg('../images/brand/logo.svg', 218px);
			width: rem(148px);
			height: rem(63px);
			margin: 0 rem(12px); 
			display: inline-block;
			vertical-align: middle;
			float: none;
			@include mq('sm') {
				width: rem(238px);
				height: rem(103px);
				margin: 0 0 0 rem(45px); 
			}	
		}
	}

	.navbar-collapse {
		@include mq('sm') {
			display: inline-flex !important;
			vertical-align: middle;
			float: none;
			margin-right: rem(80px);
		}

		
		// Navigation wrapper
		.navigation-menu {
			display: block;
			@include mq('md') {
				display: inline-block;
				vertical-align: middle;
				padding: 0 rem(20px);
			}
		}

		// Menu
		ul {
			&.navbar-nav {
				float: none;
				clear: both;
				> li {
					display: block;
					text-align: center;
					@include mq('sm') {
						text-align: left;
						text-transform: uppercase;
						display: inline-block;
						vertical-align: middle;
						float: none;
						margin: 0 rem(16px);
					}
					a {
						padding: 0 rem(4px);
						
						&:hover,
						&:focus {
							background-color: transparent;
							color: $blue;
						}
					}
					&.active {				
						a {
							background-color: transparent;
							color: $br-blue;
							font-family: $bd;
							border-bottom: rem(3px) solid $blue;
						}					
					}
				}
			}
		}
	}
}