.header {
	&__top {
		display: block;
		text-align: center;
		padding: rem(22px) 0 0;
		img {
			display: inline-block;
			max-width: 90%;
			position: relative;
			padding-bottom: rem(16px);
			&::after {
				content: "";
				display: block;
				height: rem(5px);
				width: rem(120px);
				background-color: $blue;
				@include center('horizontal');
				bottom: 0;
				@include mq('md') {
					width: rem(220px);
				}
			}
		}

		h2 {
			color: $gray;
			display: inline-block;
			@include font(30px);
			text-transform: uppercase;
			position: relative;
			padding-bottom: rem(16px);
			margin: 0 0;
			@include mq('md') {
				@include font(60px);
			}
			&::after {
				content: "";
				display: block;
				height: rem(5px);
				width: rem(120px);
				background-color: $blue;
				@include center('horizontal');
				bottom: 0;
				@include mq('md') {
					width: rem(220px);
				}
			}
		}
	}
}