.service-attributes {
	background-color: $gray-d8;
	padding: rem(30px) rem(15px); 
	@include mq('sm') {
		padding: rem(40px); 
	}
	// Top navigation
	&-nav-tabs {
		@include mq('sm') {
			display: flex;
		}
		> li {
			border-radius: 0;
			margin: 0 0;
			@include mq('sm') {
				margin: 0 rem(5px) 0 0;
				float: none;
				clear: both;
			}
			a {
				@include font(14px);
				font-family: $al-bd;
				border-radius: 0;
				background-color: $white;
				margin: 0 0;
				&:hover,
				&:active,
				&:focus {
					color: $white;
					background-color: $br-blue;
				}
			}
			&.active {
				border: none;
				background-color: $br-blue;
				a {
					border: none;
					color: $white;
					background-color: $br-blue;
					&:hover,
					&:active,
					&:focus {
						color: $white;
						background-color: $br-blue;
					}
				}
			}
		}
	}

	.tab-content {
		background-color: $white;
		.tab-pane {			
			padding: rem(20px);
			min-height: rem(450px);
			@include mq('sm') {
				padding: rem(30px) rem(20px);
			}

			&.image-enable {
				.text-wrapper {
					display: none;
				}
				.image-wrapper {
					display: none;
				}
				&.in {
					@include mq('sm') {
						display: flex;
						flex-wrap: wrap;
					}
					.text-wrapper {
						display: block;
						@include mq('sm') {
							width: 50%;
						}
					}
					.image-wrapper {
						display: block;
						padding: rem(20px);
						@include mq('sm') {
							width: 50%;
							padding: 0 rem(30px);
						}
						img {
							max-width: 100%;
							height: auto;
							padding: rem(10px);
							border: rem(1px) solid $gray-lt; 
						}
					}
				}
			}

			&__with-thumb {
				margin-bottom: rem(20px);
				@include mq('sm') {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
				}
			}

			&__text {
				@include mq('sm') {
					width: 65%;
					padding: 0 4%;
					text-align: justify;
				}
				h4 {
					@include font(25px);
					position: relative;
					padding-bottom: rem(12px);
					margin-bottom: rem(12px);
					@include mq('sm') {
						@include font(25px);
					}
					&::after {
						content: "";
						display: block;
						height: rem(5px);
						width: rem(120px);
						background-color: $blue;
						position: absolute;
						left: 0;
						bottom: 0;
						@include mq('md') {
							width: rem(220px);
						}
					}
				}

				img {
					display: block;
					margin: rem(12px) auto;
					max-width: 100%;
					height: auto;
					padding: rem(10px);
					border: rem(1px) solid $gray-lt; 
				}		
			}
			
			&__thumb {				
				margin: rem(20px) auto;
				text-align: center;
				@include mq('sm') {
					width: 35%;
				}
				img {
					display: inline-block;
					max-width: 100%;
					padding: rem(12px);
					border: rem(1px) solid $gray-lt;
					&.image-2 {
						margin-top: rem(240px);
					}
				}
			}

			h3 {
				color: $br-blue;
			}

			small {
				font-size: 65%;
			}

			table {
				margin: rem(20px) auto;
				box-shadow: 0 0 rem(10px) $gray-bd;
				tr {
					th {
						background-color: $br-blue;
						padding: rem(10px);
						border: rem(1px) solid $white;
						color: $white;
						text-align: center;
					}
					td {
						padding: rem(10px);
						border: rem(1px) solid $gray-lt;
						text-align: center;
					}
				}
			}
		}

		// Extention maps
		&__ext {
			@include mq('sm') {
				display: flex;
			}
			&-chemetrics {
				@include mq('sm') {
					flex-wrap: wrap;
				}
			}

			&-menu {
				box-shadow: 0 0 rem(10px) $gray-bd;
				@include mq('sm') {
					width: 35%;
				}
				&-chemetrics {
					@include mq('sm') {
						box-shadow: none;
						flex-shrink: 0;
						width: 100%;
					}
				}
				.nav-tabs {
					&-chemetrics {
						@include mq('sm') {
							display: flex;
						}
						li {
							@include mq('sm') {
								border: rem(1px) solid $gray-lt;
								display: table;
								height: rem(66px);
								a {
									display: table-cell;
									vertical-align: middle;
									margin: 0 0;
									text-align: center;
								}
							}
						}
					}
					li {
						float: none;
						display: block;
						border-bottom: rem(1px) solid $gray-lt;
						&.active {
							border: none;
							background-color: $blue;
							margin: 0 0;
							a {
								border: none;
								color: $white;
								background-color: $blue;
								margin: 0 0;
								&:hover,
								&:active,
								&:focus {
									color: $white;
									background-color: $blue;
								}
							}
						}
					}
				}
			}
			&-side {
				@include mq('sm') {
					text-align: justify;
					width: 63%;
					margin-left: 2%;
				}
				
				&.tab-content-chemetrics {
					flex-shrink: 0;
					width: 100%;
					margin: 0 0;
				}

			}
			&-grouped {
				display: block;
				margin: rem(16px) auto;
				@include mq('sm') {
					display: flex;
					flex-wrap: wrap;
				}
				&__item {
					padding: rem(10px); 
					@include mq('sm') {
						padding: rem(20px); 
						width: 33.3%;
					}
				}
			}
		}
	}
}