//--  Fonts --//

$md: 'GalanoGrotesque Md';
$bd: 'Alegreya Sans Bd';
$rg: 'Alegreya Sans SC';
$lt: 'Alegreya Sans Lt';

$al-bd: 'Alegreya Sans SC Bd';
$al-lt: 'Alegreya Sans SC Lt';
$al-eb: 'Alegreya Sans SC Ext Bd';

$gal-lt: 'GalanoGrotesque Lt';
$gal-hv: 'GalanoGrotesque Hv';
$gal-al-lt: 'GalanoGrotesqueAlt Lt';
$gal: 'GalanoGrotesque';

$ac: 'Acumin Pro';
$sk:'Sinkin Sans 800';


// -- Colors -- //

$white: #ffffff;
$black: #000000;
$gray: #3d3d3d;
$gray-dk: #212121;
$gray-lt: #b0b0b0;
$gray-bd: #bdbdbd;
$gray-d8: #D8D8D8;

// Brand colors
$gray-dk: #2d2d2b;
$wheat: #b8926a;
$rose: #d4c8be;
$breath: #eae6df;


$yellow: #ffc80a;
$blue: #00b7e8;
$br-blue: #04233D;
$br-blue-lt: #154a77;
$blue-dk: #00598a;
$green: #5aab84;
$marine: #92fcc8;
$green-dk: #093821;