.service-content {
	padding: rem(32px) rem(30px) 0;
	min-height: 40vh;
	@include mq('md') {
		padding: rem(12px) 0 rem(12px);
		display: flex;
		flex-wrap: wrap;
	}

	&__content {
		padding: 0 rem(20px);
		text-align: center;
		@include mq('md') {
			text-align: justify;
			width: 50%;
			padding: 0 rem(40px);
		}
		img {
			display: block;
			margin: rem(12px) auto;
			padding: rem(6px);
			border: rem(1px) solid $gray-lt;
			max-width: 100%;
			height: auto;
		}
	}

	&__image {
		
		position: relative;
		@include mq('md') {
			width: 50%;
		}
		
		figure {
			@include bgcover;
			position: relative;
			height: rem(220px);
			@include mq('md') {
				height: rem(520px);
			}
		}

		&--text {
			padding: rem(20px);
			text-align: center;
			@include mq('md') {
				text-align: justify;
				padding: rem(10px);
			}
			img {
				display: block;
				margin: rem(12px) auto;
				padding: rem(6px);
				border: rem(1px) solid $gray-lt;
				max-width: 100%;
				height: auto;
			}
		}
	}
}

.service-catalog {
	padding: rem(30px) rem(20px);
	text-align: center;
	margin-bottom: rem(30px);
	a {
		@include yellowBtn(10px, 22px);
		background-color: $br-blue;
		font-family: $bd;
		padding: rem(10px) rem(30px); 
		border: rem(7px) solid $br-blue-lt;
	}
}